*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
    width: 100%;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header .logo{
    height: 35px;
    width: 90px;
    border: 2px solid #852525;
    border-radius: 20px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar li{
    list-style: none;
    padding: 0 20px;
    display: inline-block;
}
.nav-bar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
.nav-bar li a:hover,
.nav-bar li a.active{
    color: #852525;
}
#hero{
    background-image: url(img/hero4.png);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding:0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
body p{
    font-size: 16px;
    color: #1a1a1a;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #852525;
}
#hero button{
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #852525;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}
#hero button:hover{
    background-color: #1a1a1a;
}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
#product1 .pro{
    width: 23%;
    min-height: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0; 
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.1);
    position: relative;
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    padding: 10px 0;
    text-align: start;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
} 
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 20);
}
#product1 .pro .des h4{
    padding-top: 7px;
    color: #852525;
    font-size: 16px;
    font-weight: 700;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    background-color: #852525;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 50px rgba(0,0,0,0.2);
    transform: translateY(-5px);
    transition: 0.3s;
}
.section-p1 .logo{
    height: 35px;
    width: 90px;
    border: 2px solid #852525;
    border-radius: 20px;
}
footer{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:40px 80px;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    margin: 0 0 8px 0;
    color: #222;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
@media (max-width:799px){
    #product1 .pro{
        width:48%;
    }
}

@media (max-width:477px){
    #product1 .pro{
        width:100%;
    }
}
#pageheader{
    background-color: url(img/banner/b1.jpg);
    width: 100px;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;

}
#page-header{
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2,
#page-header p{
    color: #fff;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #852525;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
#prodetails{
     display: flex;
     margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
    padding: 40px 40px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-image img{
    width: 100%;
    border-radius: 20px;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left:10px;
    font-size: 16px;
    margin-right: 10px;
} 
#prodetails .single-pro-details input:focus{
    outline: none;
    
}
#prodetails .single-pro-details button{
    padding: 10px 30px;
    background-color: #852525;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}
#prodetails .single-pro-details span{
    line-height:25px;
}
#feeddback{
    padding: 20px;
    margin-top: 20px;
    background-color: #852525;
}